<html>
    <head>
        <title>Tal's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tal's Blog</a></h1>
        </div>

        <div>
            <p>published: 2.06.2019, 11:30am</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there, my name is Tal</p>
        </div>

        <div>
            <p>published: 2.06.2019, 11:30am</p>
            <h2><a href="">My second post</a></h2>
            <p>Im 23 years old and I will tell you about my journey</p>
        </div>
    </body>
</html>